.Container{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.LabelName{
    flex: 1;
    background-color: rgba(106, 144, 132, 0.446);
    border: none;
    border-radius: 5px;
    padding-right: 450px;
    padding-left: 50px;
    font-family: Verdana, Tahoma, sans-serif;
}
.LabelName:hover {
    background-color: rgba(135, 182, 167, 0.446);
}
.LabelName:focus {
    outline: none;
    border: none;
    background-color:  rgba(135, 182, 167, 0.446);
}

.BottonAdicionar{
    background-color:  rgba(33, 77, 63);
    color: aliceblue;
    border-radius: 5px;
    border: none;
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
}
.BottonAdicionar:hover{
    background-color:  rgb(47, 137, 108);
}
.BottonAdicionar:active{
    background-color:  rgb(47, 131, 137);
}