.Container{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.LabelName{
    background-color: rgba(106, 144, 132, 0.446);
    border: none;
    border-radius: 5px;
    padding-right: 50px;
}
.LabelName:focus {
    outline: none;
    border: none;
    background-color:  rgba(33, 77, 63, 0.446);
    color: aliceblue;
}

.BottonAdicionar{
    background-color:  rgba(33, 77, 63);
    color: aliceblue;
    border-radius: 5px;
    border: none;
    padding: 3px;
}