
.Lista{
    background-color: blueviolet;
    color: brown;
    display: grid;
    margin-bottom: 50px;
}
.BottonConcluir{
    background-color: rgb(31, 233, 166);

}
.BottonRemover{
    background-color: rgb(31, 233, 166);

}