body{
    height: 100%;
    margin: 0;
}
.layout-base {
    min-height: 100vh;
    background-color: rgb(240, 240, 240);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.layout-header {
    background-color: rgba(0, 126, 97, 0.356);
    padding: 15px;
    display: flex;
    gap: 30px;
    justify-content: center;

}
.layout-divider {
    margin-top: 0;
    border: none;
}